$error-red: hsl(0, 93%, 68%);

input {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid hsl(0, 5%, 84%);
    border-radius: 2px;
    height: 2em;
}

.label-error {
    color: $error-red;
}

.email-error {
    border-color: $error-red;
}